{
  "presets": [
    [
      "env"
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-flow-comments",
    "transform-object-rest-spread"
  ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        "transform-object-rest-spread"
      ],
      "presets": [
        [
          "env"
        ]
      ]
    }
  }
}
